body {
    background-color: #f6f6f6;
}

#flipogram svg {
    overflow: visible;
}

#radarSvg {
    width: 100%;
    height: 100%;
}

.radarLine,
.radarWeb {
    stroke: grey;
    stroke-width: 1px;
}

.radarWeb {
    stroke-opacity: 1;
    fill-opacity: 0;
}

.radarWeb:first-child {
    fill-opacity: 1;
    fill: #fff;
}

.radarLabel {
    font-family: sans-serif;
}

.radarOverlay {
    stroke-width: 2px;
    stroke-opacity: 1;
    fill-opacity: 0.3;
    transition: fill-opacity 0.3s;
}
.radarOverlay:hover {
    fill-opacity: 0.8;
}


.radarLegend {
    padding: 40px 0;
}

.radarLegend-item {
    float: left;
    // position: relative;
}
.radarLegend-title {
    margin-left: 30px;
    display: inline;
    text-align: center;
    position: relative;
}
.radarLegend-item button {
    display: block;
    position: absolute;
    right: 105%;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 20px;
    height: 20px;
}

.hiddenOverlay {
    visibility: hidden;
}

button.hiddenButton {
    background: white !important;
}