/* we should probably pass in stuff like width and height as arguments because we cant rely on css for measurement*/
#flipogram {
    width: 825px;
    height: 600px;
    border: 1px solid red;
    overflow: visible;
}

#radarSvg {
    width: 100%;
    height: 100%;
    overflow: visible;
}

#radarSvg svg {
    overflow: visible;
}

.radarLine,
.radarWeb {
    stroke: grey;
    stroke-width: 1px;
}

.radarWeb {
    stroke-opacity: 1;
    fill-opacity: 0;
}

.radarWeb:first-child {
    fill-opacity: 1;
    fill: #fff;
}

.radarWebbingContainer,
.radarOverlayContainer,
.radarSpokeContainer,
.radarLabelContainer {
    overflow: visible;
}

.radarLabel {
    font-family: sans-serif;
}

.radarOverlay {
    stroke-width: 2px;
    stroke-opacity: 1;
    fill-opacity: 0.3;
    transition: fill-opacity 0.3s;
}
.radarOverlay:hover {
    fill-opacity: 0.8;
}


.radarLegend {
    padding: 40px 0;
}

.radarLegend-item {
    float: left;
    // position: relative;
}
.radarLegend-title {
    margin-left: 30px;
    display: inline;
    text-align: center;
    position: relative;
}
.radarLegend-item button {
    display: block;
    position: absolute;
    right: 105%;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    width: 20px;
    height: 20px;
}

.hiddenOverlay {
    visibility: hidden;
}

button.hiddenButton {
    background: white !important;
}